@charset "UTF-8";
/* line 1, ../sass/modules/_normalize.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, Tahoma, Arial, “PingFang SC”,  “Microsoft YaHei”, “WenQuanYi Micro Hei”;
}

/* line 7, ../sass/modules/_normalize.scss */
li {
  list-style: none;
}

/* line 10, ../sass/modules/_normalize.scss */
a {
  text-decoration: none;
}

/* line 4, ../sass/modules/_extendclass.scss */
.header__container {
  width: 100%;
  margin: 0 auto;
}
@media all and (min-width: 343px) {
  /* line 4, ../sass/modules/_extendclass.scss */
  .header__container {
    max-width: 343px;
  }
}
@media all and (min-width: 580px) {
  /* line 4, ../sass/modules/_extendclass.scss */
  .header__container {
    max-width: 580px;
  }
}
@media all and (min-width: 880px) {
  /* line 4, ../sass/modules/_extendclass.scss */
  .header__container {
    max-width: 880px;
  }
}
@media all and (min-width: 1300px) {
  /* line 4, ../sass/modules/_extendclass.scss */
  .header__container {
    max-width: 1300px;
  }
}

/* line 5, ../sass/partials/_header.scss */
header {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}

/* line 9, ../sass/partials/_header.scss */
.header__container {
  display: flex;
  padding: 16px 0;
  justify-content: space-between;
  align-items: center;
}
@media all and (min-width: 880px) {
  /* line 9, ../sass/partials/_header.scss */
  .header__container {
    padding: 0 0 5px;
  }
}
/* line 18, ../sass/partials/_header.scss */
.header__container__logo {
  display: block;
  background-image: url("../img/logo-big@2x.png");
  background-size: cover;
  width: 100px;
  height: 38px;
}
@media all and (min-width: 880px) {
  /* line 18, ../sass/partials/_header.scss */
  .header__container__logo {
    width: 161px;
    height: 60px;
  }
}
/* line 29, ../sass/partials/_header.scss */
.header__container__nav {
  position: absolute;
  top: 70px;
  right: 0;
  left: 0;
  width: 100vw;
  background-color: white;
  z-index: 4;
  height: calc(100vh - 70px);
  justify-content: space-between;
}
@media all and (min-width: 880px) {
  /* line 29, ../sass/partials/_header.scss */
  .header__container__nav {
    height: auto;
    padding-top: 20px;
    position: static;
    width: auto;
    flex-direction: column;
    align-items: flex-end;
  }
}
/* line 48, ../sass/partials/_header.scss */
.header__container__nav__items {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: white;
}
@media all and (min-width: 880px) {
  /* line 48, ../sass/partials/_header.scss */
  .header__container__nav__items {
    width: auto;
    flex-direction: row;
    order: 2;
  }
}
/* line 58, ../sass/partials/_header.scss */
.header__container__nav__items a {
  position: relative;
  display: block;
  font-size: 17px;
  color: black;
  text-align: center;
  padding: 13px 0;
  font-weight: 600;
}
@media all and (min-width: 880px) {
  /* line 58, ../sass/partials/_header.scss */
  .header__container__nav__items a {
    margin: 0 15px;
    padding: 13px 12px;
    font-size: 17px;
  }
  /* line 70, ../sass/partials/_header.scss */
  .header__container__nav__items a:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-bottom: 5px solid #009a00;
    width: 100%;
  }
}
@media all and (min-width: 880px) {
  /* line 83, ../sass/partials/_header.scss */
  .header__container__nav__items .header_avtive::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-bottom: 5px solid #009a00;
    width: 100%;
  }
}
/* line 95, ../sass/partials/_header.scss */
.header__container__nav__icon {
  display: flex;
  background-color: white;
  justify-content: center;
  margin-bottom: 16px;
}
@media all and (min-width: 880px) {
  /* line 95, ../sass/partials/_header.scss */
  .header__container__nav__icon {
    margin-top: 0;
    order: 1;
    margin-bottom: 0;
  }
}
/* line 105, ../sass/partials/_header.scss */
.header__container__nav__icon a {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 8px;
}
/* line 110, ../sass/partials/_header.scss */
.header__container__nav__icon a:hover img {
  opacity: 0.7;
}
/* line 113, ../sass/partials/_header.scss */
.header__container__nav__icon a img {
  width: 100%;
}

/* line 122, ../sass/partials/_header.scss */
header label {
  width: 26px;
  height: 25px;
  background-image: url("../img/menu@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media all and (min-width: 880px) {
  /* line 122, ../sass/partials/_header.scss */
  header label {
    display: none;
  }
}
/* line 132, ../sass/partials/_header.scss */
header input {
  display: none;
}
/* line 135, ../sass/partials/_header.scss */
header .header__container__nav {
  display: none;
}
@media all and (min-width: 880px) {
  /* line 135, ../sass/partials/_header.scss */
  header .header__container__nav {
    display: flex;
  }
}
/* line 141, ../sass/partials/_header.scss */
header #burger:checked ~ .header__container__nav {
  display: flex;
  flex-direction: column;
}
/* line 145, ../sass/partials/_header.scss */
header #burger:checked ~ label {
  background-image: url("../img/close@2x.png");
}

/* line 1, ../sass/partials/_politics_list.scss */
.list {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 50px;
  background-color: white;
  width: 100%;
  border-top: 1px rgba(195, 188, 194, 0.74) solid;
  z-index: 3;
}
@media all and (min-width: 880px) {
  /* line 1, ../sass/partials/_politics_list.scss */
  .list {
    flex-direction: row;
    justify-content: center;
    height: 70px;
    align-items: center;
  }
}
/* line 19, ../sass/partials/_politics_list.scss */
.list__item {
  position: relative;
}
/* line 22, ../sass/partials/_politics_list.scss */
.list__item__title a {
  display: block;
  width: 100vw;
  line-height: 49px;
  font-size: 17px;
  text-align: center;
  color: black;
  background-color: white;
  display: none;
}
@media all and (min-width: 880px) {
  /* line 22, ../sass/partials/_politics_list.scss */
  .list__item__title a {
    display: block;
    width: auto;
    line-height: 69px;
    padding: 0 30px;
  }
}
/* line 38, ../sass/partials/_politics_list.scss */
.list__item__title #list__item__map__text {
  position: relative;
}
/* line 40, ../sass/partials/_politics_list.scss */
.list__item__title #list__item__map__text::before {
  position: absolute;
  display: block;
  content: "";
  background-image: url("../img/location@2x.png");
  width: 15px;
  height: 20px;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media all and (min-width: 880px) {
  /* line 38, ../sass/partials/_politics_list.scss */
  .list__item__title #list__item__map__text {
    display: none;
  }
}
/* line 58, ../sass/partials/_politics_list.scss */
.list__item__title #list__item__map__img {
  display: none;
}
@media all and (min-width: 880px) {
  /* line 58, ../sass/partials/_politics_list.scss */
  .list__item__title #list__item__map__img {
    display: block;
    background-image: url("../img/btn-map-l@2x.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 44px;
    width: 153px;
  }
  /* line 68, ../sass/partials/_politics_list.scss */
  .list__item__title #list__item__map__img:hover {
    background-image: url("../img/btn-map-l-hover@2x.png");
  }
}
/* line 73, ../sass/partials/_politics_list.scss */
.list__item__title .activeitem {
  display: block;
}
@media all and (min-width: 880px) {
  /* line 73, ../sass/partials/_politics_list.scss */
  .list__item__title .activeitem {
    display: block;
    background-color: rgba(0, 154, 0, 0.1);
  }
}
/* line 81, ../sass/partials/_politics_list.scss */
.list__item .active {
  display: flex;
  position: relative;
}
@media all and (min-width: 880px) {
  /* line 81, ../sass/partials/_politics_list.scss */
  .list__item .active {
    position: static;
  }
}
/* line 87, ../sass/partials/_politics_list.scss */
.list__item .active label {
  display: block;
  background-image: url("../img/down@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 10px;
  position: absolute;
  top: 20px;
  right: 30px;
}
@media all and (min-width: 880px) {
  /* line 87, ../sass/partials/_politics_list.scss */
  .list__item .active label {
    display: none;
  }
}

/* line 107, ../sass/partials/_politics_list.scss */
#controllist:checked ~ .container .list__item__title a {
  display: block;
}

/* line 110, ../sass/partials/_politics_list.scss */
#controllist:checked ~ .container #label_controllist {
  background-image: url("../img/up@2x.png");
}

/* line 113, ../sass/partials/_politics_list.scss */
#controllist {
  display: none;
}

/* line 3, ../sass/politics_content.scss */
.container {
  position: relative;
}

/* line 6, ../sass/politics_content.scss */
.map {
  width: 100%;
  height: calc(100vh - 70px);
}
@media all and (min-width: 880px) {
  /* line 6, ../sass/politics_content.scss */
  .map {
    height: calc(100vh - 100px);
  }
}

/* line 13, ../sass/politics_content.scss */
.map__mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/mapmask@2x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media all and (min-width: 880px) {
  /* line 13, ../sass/politics_content.scss */
  .map__mask {
    height: calc(100vh - 100px);
  }
}

/* line 27, ../sass/politics_content.scss */
.politicscontent {
  width: 91%;
  max-height: calc(100vh - 70px - 50px - 4vh);
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 60px 16px 0;
  overflow: scroll;
  /* Handle on hover */
}
/* line 39, ../sass/politics_content.scss */
.politicscontent::-webkit-scrollbar {
  width: 3px;
  border-radius: 3px;
}
/* line 43, ../sass/politics_content.scss */
.politicscontent::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 3px;
}
/* line 48, ../sass/politics_content.scss */
.politicscontent::-webkit-scrollbar-thumb:hover {
  background: #73bf83;
}
@media all and (min-width: 880px) {
  /* line 27, ../sass/politics_content.scss */
  .politicscontent {
    padding: 60px 117px 0;
    top: 90px;
    width: 79%;
    max-width: 1140px;
    max-height: calc(100vh - 100px - 70px - 4vh);
  }
}
/* line 59, ../sass/politics_content.scss */
.politicscontent__close {
  position: absolute;
  top: 16px;
  right: 16px;
  display: block;
  background-image: url("../img/close-icon@2x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 36px;
  height: 36px;
}
/* line 71, ../sass/politics_content.scss */
.politicscontent__title {
  font-size: 24px;
  color: black;
  line-height: 1.25;
  letter-spacing: 0.5px;
  margin-bottom: 16px;
  text-align: center;
}
/* line 79, ../sass/politics_content.scss */
.politicscontent__icons {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
/* line 83, ../sass/politics_content.scss */
.politicscontent__icons a {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 16px;
}
/* line 88, ../sass/politics_content.scss */
.politicscontent__icons a img {
  width: 100%;
}
/* line 93, ../sass/politics_content.scss */
.politicscontent__text {
  font-size: 17px;
  line-height: 1.76;
  letter-spacing: 0.3px;
  color: #000000;
  margin-bottom: 16px;
}
/* line 100, ../sass/politics_content.scss */
.politicscontent__pic {
  margin: 0 auto 16px;
  width: 100%;
}
@media all and (min-width: 880px) {
  /* line 100, ../sass/politics_content.scss */
  .politicscontent__pic {
    width: 61%;
  }
}
/* line 107, ../sass/politics_content.scss */
.politicscontent__pic img {
  width: 100%;
}
/* line 111, ../sass/politics_content.scss */
.politicscontent__video {
  width: 100%;
  margin: 0 auto 30px;
}
@media all and (min-width: 880px) {
  /* line 111, ../sass/politics_content.scss */
  .politicscontent__video {
    width: 61%;
  }
}
/* line 117, ../sass/politics_content.scss */
.politicscontent__video__container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin: 0 auto;
  text-align: center;
}
/* line 125, ../sass/politics_content.scss */
.politicscontent__video__container iframe {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}
/* line 135, ../sass/politics_content.scss */
.politicscontent__newsconnect {
  margin-bottom: 16px;
}
/* line 137, ../sass/politics_content.scss */
.politicscontent__newsconnect__title {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.76;
  letter-spacing: 0.3px;
  color: #000000;
  margin-bottom: 16px;
  text-align: center;
}
/* line 146, ../sass/politics_content.scss */
.politicscontent__newsconnect__news {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 153, ../sass/politics_content.scss */
.politicscontent__newsconnect__news__card {
  width: 260px;
  margin: 16px;
}
/* line 159, ../sass/politics_content.scss */
.politicscontent__newsconnect__news__card__pic {
  width: 260px;
  height: 200px;
  object-fit: cover;
}
/* line 164, ../sass/politics_content.scss */
.politicscontent__newsconnect__news__card__text {
  display: block;
  font-size: 15px;
  letter-spacing: 0.3px;
  color: #4a4a4a;
}
/* line 174, ../sass/politics_content.scss */
.politicscontent__map__title {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.76;
  letter-spacing: 0.3px;
  color: #000000;
  margin-bottom: 16px;
  text-align: center;
}
/* line 183, ../sass/politics_content.scss */
.politicscontent__map__connect {
  display: flex;
  justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
/* line 188, ../sass/politics_content.scss */
.politicscontent__map__connect__card {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
/* line 192, ../sass/politics_content.scss */
.politicscontent__map__connect__card__icon {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 10px 16px;
}
/* line 198, ../sass/politics_content.scss */
.politicscontent__map__connect__card__icon img {
  width: 120px;
  height: 120px;
}
@media all and (min-width: 880px) {
  /* line 192, ../sass/politics_content.scss */
  .politicscontent__map__connect__card__icon {
    margin: 0 16px 16px;
  }
}
/* line 206, ../sass/politics_content.scss */
.politicscontent__map__connect__card__text {
  font-size: 15px;
  letter-spacing: 0.3px;
  color: #4a4a4a;
  text-align: center;
}
