@charset "UTF-8";
/* line 1, ../sass/modules/_normalize.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, Tahoma, Arial, “PingFang SC”,  “Microsoft YaHei”, “WenQuanYi Micro Hei”;
}

/* line 7, ../sass/modules/_normalize.scss */
li {
  list-style: none;
}

/* line 10, ../sass/modules/_normalize.scss */
a {
  text-decoration: none;
}

/* line 4, ../sass/modules/_extendclass.scss */
.header__container {
  width: 100%;
  margin: 0 auto;
}
@media all and (min-width: 343px) {
  /* line 4, ../sass/modules/_extendclass.scss */
  .header__container {
    max-width: 343px;
  }
}
@media all and (min-width: 580px) {
  /* line 4, ../sass/modules/_extendclass.scss */
  .header__container {
    max-width: 580px;
  }
}
@media all and (min-width: 880px) {
  /* line 4, ../sass/modules/_extendclass.scss */
  .header__container {
    max-width: 880px;
  }
}
@media all and (min-width: 1300px) {
  /* line 4, ../sass/modules/_extendclass.scss */
  .header__container {
    max-width: 1300px;
  }
}

/* line 5, ../sass/partials/_header.scss */
header {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}

/* line 9, ../sass/partials/_header.scss */
.header__container {
  display: flex;
  padding: 16px 0;
  justify-content: space-between;
  align-items: center;
}
@media all and (min-width: 880px) {
  /* line 9, ../sass/partials/_header.scss */
  .header__container {
    padding: 0 0 5px;
  }
}
/* line 18, ../sass/partials/_header.scss */
.header__container__logo {
  display: block;
  background-image: url("../img/logo-big@2x.png");
  background-size: cover;
  width: 100px;
  height: 38px;
}
@media all and (min-width: 880px) {
  /* line 18, ../sass/partials/_header.scss */
  .header__container__logo {
    width: 161px;
    height: 60px;
  }
}
/* line 29, ../sass/partials/_header.scss */
.header__container__nav {
  position: absolute;
  top: 70px;
  right: 0;
  left: 0;
  width: 100vw;
  background-color: white;
  z-index: 4;
  height: calc(100vh - 70px);
  justify-content: space-between;
}
@media all and (min-width: 880px) {
  /* line 29, ../sass/partials/_header.scss */
  .header__container__nav {
    height: auto;
    padding-top: 20px;
    position: static;
    width: auto;
    flex-direction: column;
    align-items: flex-end;
  }
}
/* line 48, ../sass/partials/_header.scss */
.header__container__nav__items {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: white;
}
@media all and (min-width: 880px) {
  /* line 48, ../sass/partials/_header.scss */
  .header__container__nav__items {
    width: auto;
    flex-direction: row;
    order: 2;
  }
}
/* line 58, ../sass/partials/_header.scss */
.header__container__nav__items a {
  position: relative;
  display: block;
  font-size: 17px;
  color: black;
  text-align: center;
  padding: 13px 0;
  font-weight: 600;
}
@media all and (min-width: 880px) {
  /* line 58, ../sass/partials/_header.scss */
  .header__container__nav__items a {
    margin: 0 15px;
    padding: 13px 12px;
    font-size: 17px;
  }
  /* line 70, ../sass/partials/_header.scss */
  .header__container__nav__items a:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-bottom: 5px solid #009a00;
    width: 100%;
  }
}
@media all and (min-width: 880px) {
  /* line 83, ../sass/partials/_header.scss */
  .header__container__nav__items .header_avtive::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-bottom: 5px solid #009a00;
    width: 100%;
  }
}
/* line 95, ../sass/partials/_header.scss */
.header__container__nav__icon {
  display: flex;
  background-color: white;
  justify-content: center;
  margin-bottom: 16px;
}
@media all and (min-width: 880px) {
  /* line 95, ../sass/partials/_header.scss */
  .header__container__nav__icon {
    margin-top: 0;
    order: 1;
    margin-bottom: 0;
  }
}
/* line 105, ../sass/partials/_header.scss */
.header__container__nav__icon a {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 8px;
}
/* line 110, ../sass/partials/_header.scss */
.header__container__nav__icon a:hover img {
  opacity: 0.7;
}
/* line 113, ../sass/partials/_header.scss */
.header__container__nav__icon a img {
  width: 100%;
}

/* line 122, ../sass/partials/_header.scss */
header label {
  width: 26px;
  height: 25px;
  background-image: url("../img/menu@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media all and (min-width: 880px) {
  /* line 122, ../sass/partials/_header.scss */
  header label {
    display: none;
  }
}
/* line 132, ../sass/partials/_header.scss */
header input {
  display: none;
}
/* line 135, ../sass/partials/_header.scss */
header .header__container__nav {
  display: none;
}
@media all and (min-width: 880px) {
  /* line 135, ../sass/partials/_header.scss */
  header .header__container__nav {
    display: flex;
  }
}
/* line 141, ../sass/partials/_header.scss */
header #burger:checked ~ .header__container__nav {
  display: flex;
  flex-direction: column;
}
/* line 145, ../sass/partials/_header.scss */
header #burger:checked ~ label {
  background-image: url("../img/close@2x.png");
}

/* line 2, ../sass/politics_map.scss */
.container {
  position: relative;
}

/* line 5, ../sass/politics_map.scss */
.map {
  width: 100%;
  height: calc(100vh - 70px);
}
@media all and (min-width: 880px) {
  /* line 5, ../sass/politics_map.scss */
  .map {
    height: calc(100vh - 100px);
  }
}

/* line 12, ../sass/politics_map.scss */
.list {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 50px;
  background-color: white;
  width: 100%;
  border-top: 1px rgba(195, 188, 194, 0.74) solid;
  z-index: 2;
}
@media all and (min-width: 880px) {
  /* line 12, ../sass/politics_map.scss */
  .list {
    flex-direction: row;
    justify-content: center;
    height: 70px;
    align-items: center;
  }
}
/* line 30, ../sass/politics_map.scss */
.list__item {
  position: relative;
  order: 2;
}
/* line 34, ../sass/politics_map.scss */
.list__item__title a {
  width: 100vw;
  line-height: 50px;
  font-size: 17px;
  text-align: center;
  color: black;
  background-color: white;
  display: none;
}
@media all and (min-width: 880px) {
  /* line 34, ../sass/politics_map.scss */
  .list__item__title a {
    display: block;
    width: auto;
    line-height: 70px;
    padding: 0 30px;
  }
}
/* line 49, ../sass/politics_map.scss */
.list__item__title .activeitem {
  display: block;
}
@media all and (min-width: 880px) {
  /* line 49, ../sass/politics_map.scss */
  .list__item__title .activeitem {
    display: block;
    background-color: rgba(0, 154, 0, 0.1);
  }
}
/* line 56, ../sass/politics_map.scss */
.list__item__title #list__item__map__text {
  position: relative;
}
/* line 58, ../sass/politics_map.scss */
.list__item__title #list__item__map__text::before {
  position: absolute;
  display: block;
  content: "";
  background-image: url("../img/location@2x.png");
  width: 15px;
  height: 20px;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media all and (min-width: 880px) {
  /* line 56, ../sass/politics_map.scss */
  .list__item__title #list__item__map__text {
    display: none;
  }
}
/* line 76, ../sass/politics_map.scss */
.list__item__title #list__item__map__img {
  display: none;
}
@media all and (min-width: 880px) {
  /* line 76, ../sass/politics_map.scss */
  .list__item__title #list__item__map__img {
    display: block;
    background-image: url("../img/btn-map-l-hover@2x.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 44px;
    width: 153px;
  }
}
/* line 89, ../sass/politics_map.scss */
.list__item .active {
  display: flex;
  position: relative;
}
/* line 92, ../sass/politics_map.scss */
.list__item .active #label_controllist {
  display: block;
  background-image: url("../img/down@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 10px;
  position: absolute;
  top: 20px;
  right: 30px;
}
@media all and (min-width: 880px) {
  /* line 92, ../sass/politics_map.scss */
  .list__item .active #label_controllist {
    display: none;
  }
}
/* line 109, ../sass/politics_map.scss */
.list .activeorder {
  order: 1;
}
@media all and (min-width: 880px) {
  /* line 109, ../sass/politics_map.scss */
  .list .activeorder {
    order: 2;
  }
}

/* line 118, ../sass/politics_map.scss */
#controllist:checked ~ .container .list__item__title a {
  display: block;
}

/* line 121, ../sass/politics_map.scss */
#controllist:checked ~ .container .list__item__title a ~ #list__item__map__img {
  display: none;
}

/* line 125, ../sass/politics_map.scss */
#controllist:checked ~ .container #label_controllist {
  background-image: url("../img/up@2x.png");
}

/* line 128, ../sass/politics_map.scss */
#controllist {
  display: none;
}

/* line 131, ../sass/politics_map.scss */
.mapchoose__control {
  display: block;
  background-image: url("../img/hide-side-nav@2x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px;
  height: 83px;
  position: absolute;
  top: 50px;
  left: 316px;
}
@media all and (min-width: 880px) {
  /* line 131, ../sass/politics_map.scss */
  .mapchoose__control {
    top: 70px;
  }
}

/* line 146, ../sass/politics_map.scss */
#controlmapchoosecontent:checked ~ .container .mapchoosecontent {
  left: -316px;
}

/* line 150, ../sass/politics_map.scss */
#controlmapchoosecontent:checked ~ .container .mapchoose__control {
  left: 0;
  background-image: url("../img/show-side-nav@2x.png");
}

/* line 155, ../sass/politics_map.scss */
#controlmapchoosecontent {
  display: none;
}

/* line 158, ../sass/politics_map.scss */
.mapchoosecontent {
  width: 316px;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: white;
  padding: 16px 16px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}
@media all and (min-width: 880px) {
  /* line 158, ../sass/politics_map.scss */
  .mapchoosecontent {
    padding: 16px 16px 0;
    top: 70px;
  }
}
/* line 171, ../sass/politics_map.scss */
.mapchoosecontent__select {
  width: 100%;
  height: 51px;
  padding: 5px 20px;
  background-color: white;
  border: 5px solid #009a00;
  font-size: 17px;
  letter-spacing: 0.3px;
  color: #009a00;
}
/* line 180, ../sass/politics_map.scss */
.mapchoosecontent__select option {
  color: black;
}
/* line 184, ../sass/politics_map.scss */
.mapchoosecontent__choose {
  height: calc(100vh - 70px - 50px - 70px);
  overflow: scroll;
  margin-top: 3px;
  /* Handle on hover */
  position: relative;
}
/* line 191, ../sass/politics_map.scss */
.mapchoosecontent__choose::-webkit-scrollbar {
  width: 3px;
  border-radius: 3px;
}
/* line 195, ../sass/politics_map.scss */
.mapchoosecontent__choose::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 3px;
}
/* line 200, ../sass/politics_map.scss */
.mapchoosecontent__choose::-webkit-scrollbar-thumb:hover {
  background: #73bf83;
}
@media all and (min-width: 880px) {
  /* line 184, ../sass/politics_map.scss */
  .mapchoosecontent__choose {
    height: calc(100vh - 100px - 70px - 70px);
  }
}
/* line 209, ../sass/politics_map.scss */
.mapchoosecontent__choose__location label {
  display: block;
  height: 50px;
  vertical-align: middle;
  font-size: 17px;
  color: #000000;
  margin: 10px 0;
}
/* line 216, ../sass/politics_map.scss */
.mapchoosecontent__choose__location label img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin-right: 16px;
}
/* line 225, ../sass/politics_map.scss */
.mapchoosecontent__introduction {
  width: 300px;
  position: absolute;
  top: 70px;
  left: 0;
  background-color: white;
  padding: 30px 16px 0;
  height: calc(100vh - 70px - 50px - 70px);
  overflow: scroll;
  /* Handle on hover */
}
/* line 234, ../sass/politics_map.scss */
.mapchoosecontent__introduction::-webkit-scrollbar {
  width: 1px;
  border-radius: 1px;
}
/* line 238, ../sass/politics_map.scss */
.mapchoosecontent__introduction::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 1px;
}
/* line 243, ../sass/politics_map.scss */
.mapchoosecontent__introduction::-webkit-scrollbar-thumb:hover {
  background: #73bf83;
}
@media all and (min-width: 880px) {
  /* line 225, ../sass/politics_map.scss */
  .mapchoosecontent__introduction {
    height: calc(100vh - 100px - 70px - 70px);
  }
}
/* line 250, ../sass/politics_map.scss */
.mapchoosecontent__introduction__control {
  display: block;
  width: 36px;
  height: 36px;
  background-image: url("../img/close-icon@2x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 30px;
  right: 5px;
}
/* line 262, ../sass/politics_map.scss */
.mapchoosecontent__introduction__icon {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 16px;
}
/* line 268, ../sass/politics_map.scss */
.mapchoosecontent__introduction__icon img {
  width: 50px;
  height: 50px;
}
/* line 273, ../sass/politics_map.scss */
.mapchoosecontent__introduction__title {
  font-size: 17px;
  letter-spacing: 0.3px;
  color: #000000;
  text-align: center;
  margin-bottom: 16px;
}
/* line 280, ../sass/politics_map.scss */
.mapchoosecontent__introduction__text {
  font-size: 17px;
  line-height: 1.76;
  letter-spacing: 0.3px;
  color: #000000;
}
/* line 286, ../sass/politics_map.scss */
.mapchoosecontent__introduction__position {
  background-color: #f7f7f8;
  width: 275px;
  display: flex;
  align-items: center;
  padding: 15px 0 15px 8px;
  margin-bottom: 16px;
}
/* line 293, ../sass/politics_map.scss */
.mapchoosecontent__introduction__position__pic {
  width: 25px;
  height: 33px;
  margin-right: 8px;
}
/* line 297, ../sass/politics_map.scss */
.mapchoosecontent__introduction__position__pic img {
  width: 25px;
  height: 33px;
}
/* line 302, ../sass/politics_map.scss */
.mapchoosecontent__introduction__position__text {
  font-size: 17px;
  letter-spacing: 0.3px;
  color: #000000;
  margin-bottom: 6px;
}
/* line 308, ../sass/politics_map.scss */
.mapchoosecontent__introduction__position__address {
  font-size: 15px;
  letter-spacing: 0.3px;
  color: #000000;
}

/* line 322, ../sass/politics_map.scss */
#location1_intro {
  display: none;
}

/* line 325, ../sass/politics_map.scss */
#location1:checked ~ .container #location1_intro {
  display: block;
}

/* line 328, ../sass/politics_map.scss */
#location1 {
  display: none;
}
